In [89]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

!conda install -c conda-forge folium=0.5.0 --yes
import folium # plotting library

print('Folium installed')
print('Libraries imported.')

/bin/bash: conda: command not found
/bin/bash: conda: command not found
Folium installed
Libraries imported.

I am going to use a dataset with the most crowded.

In [90]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_English_districts_by_population_density')[0]
df

   Rank  ... Ceremonial county
0     1  ...    Greater London
1     2  ...    Greater London
2     3  ...    Greater London
3     4  ...    Greater London
4     5  ...    Greater London
5     6  ...    Greater London
6     7  ...    Greater London
7     8  ...    Greater London
8     9  ...    Greater London

[9 rows x 5 columns]

In [91]:
address = 'London, UK'
from geopy.geocoders import Nominatim

geolocator = Nominatim()
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of London City are {}, {}.'.format(latitude, longitude))

/usr/local/lib/python3.6/dist-packages/geopy/geocoders/osm.py:143: UserWarning: Using Nominatim with the default "geopy/1.17.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  UserWarning

The geograpical coordinate of London City are 51.5073219, -0.1276474.

In [0]:
df['adress']=df['District']+','+df['Ceremonial county']
df['Latitude'] = df['adress'].apply(geolocator.geocode).apply(lambda x: (x.latitude))
df['Longitude'] = df['adress'].apply(geolocator.geocode).apply(lambda x: (x.longitude))

In [93]:
df

   Rank                District  ...   Latitude Longitude
0     1               Islington  ...  51.538429 -0.099905
1     2           Tower Hamlets  ...  51.508672 -0.016912
2     3                 Hackney  ...  51.543240 -0.049362
3     4  Kensington and Chelsea  ...  51.498995 -0.199123
4     5                 Lambeth  ...  51.501301 -0.117287
5     6                  Camden  ...  51.542305 -0.139560
6     7             Westminster  ...  51.501356 -0.124930
7     8  Hammersmith and Fulham  ...  51.492038 -0.223640
8     9               Southwark  ...  51.502922 -0.103458

[9 rows x 8 columns]

In [94]:
CLIENT_ID = 'aaaaaaaaaaaaaaa' # your Foursquare ID
CLIENT_SECRET = 'bbbbbbbbbbbbbbbbbb' # your Foursquare Secret
VERSION = '20180604'
from IPython.display import Image 
from IPython.core.display import HTML 
from sklearn.cluster import KMeans
import matplotlib.cm as cm
import matplotlib.colors as colors


def getNearbyVenues(names, latitudes, longitudes, radius=500):
    LIMIT=200
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    nearby_venues.head()
    return(nearby_venues)
venues = getNearbyVenues(names=df['District'],
                                   latitudes=df['Latitude'],
                                   longitudes=df['Longitude']
                                  )

Islington
Tower Hamlets
Hackney
Kensington and Chelsea
Lambeth
Camden
Westminster
Hammersmith and Fulham
Southwark

In [95]:
venues

    Neighborhood  ...            Venue Category
0      Islington  ...               Yoga Studio
1      Islington  ...               Fish Market
2      Islington  ...  Mediterranean Restaurant
3      Islington  ...                    Bakery
4      Islington  ...         Indian Restaurant
..           ...  ...                       ...
603    Southwark  ...                       Pub
604    Southwark  ...            Breakfast Spot
605    Southwark  ...               Coffee Shop
606    Southwark  ...        Chinese Restaurant
607    Southwark  ...              Burger Joint

[608 rows x 7 columns]

In [96]:
# one hot encoding
venues_onehot = pd.get_dummies(venues[['Venue Category']], prefix="", prefix_sep="")

# add street column back to dataframe
venues_onehot['Street'] = venues['Neighborhood'] 

# move street column to the first column
fixed_columns = [venues_onehot.columns[-1]] + list(venues_onehot.columns[:-1])

#fixed_columns
venues_onehot = venues_onehot[fixed_columns]

venues_onehot.head()
london_grouped = venues_onehot.groupby('Street').mean().reset_index()
london_grouped

                   Street  Afghan Restaurant  ...  Women's Store  Yoga Studio
0                  Camden           0.000000  ...           0.00     0.000000
1                 Hackney           0.000000  ...           0.00     0.033333
2  Hammersmith and Fulham           0.000000  ...           0.00     0.000000
3               Islington           0.011494  ...           0.00     0.011494
4  Kensington and Chelsea           0.000000  ...           0.00     0.000000
5                 Lambeth           0.000000  ...           0.00     0.000000
6               Southwark           0.000000  ...           0.01     0.000000
7           Tower Hamlets           0.000000  ...           0.00     0.000000
8             Westminster           0.000000  ...           0.00     0.000000

[9 rows x 164 columns]

In [0]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [0]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Street']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

In [0]:
# create a new dataframe
venues_sorted = pd.DataFrame(columns=columns)
venues_sorted['Street'] = london_grouped['Street']

for ind in np.arange(london_grouped.shape[0]):
    venues_sorted.iloc[ind, 1:] = return_most_common_venues(london_grouped.iloc[ind, :], num_top_venues)

In [100]:
venues_sorted

                   Street  ... 10th Most Common Venue
0                  Camden  ...               Beer Bar
1                 Hackney  ...           Cocktail Bar
2  Hammersmith and Fulham  ...            Pizza Place
3               Islington  ...            Coffee Shop
4  Kensington and Chelsea  ...             Restaurant
5                 Lambeth  ...             Restaurant
6               Southwark  ...     Italian Restaurant
7           Tower Hamlets  ...   Gym / Fitness Center
8             Westminster  ...    Japanese Restaurant

[9 rows x 11 columns]

In [101]:
kclusters = 4

london_grouped_clustering = london_grouped.drop('Street', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(london_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:40]

array([0, 0, 0, 0, 3, 2, 0, 2, 1], dtype=int32)

In [106]:
london_grouped_clustering=df
london_grouped_clustering['Cluster Labels'] = kmeans.labels_
london_grouped_clustering

   Rank                District  ...  Longitude Cluster Labels
0     1               Islington  ...  -0.099905              0
1     2           Tower Hamlets  ...  -0.016912              0
2     3                 Hackney  ...  -0.049362              0
3     4  Kensington and Chelsea  ...  -0.199123              0
4     5                 Lambeth  ...  -0.117287              3
5     6                  Camden  ...  -0.139560              2
6     7             Westminster  ...  -0.124930              0
7     8  Hammersmith and Fulham  ...  -0.223640              2
8     9               Southwark  ...  -0.103458              1

[9 rows x 9 columns]

In [0]:
london_grouped_clustering=london_grouped_clustering.drop(columns=['Rank','adress','Ceremonial county'])
london_grouped_clustering=london_grouped_clustering.rename(columns={'District':'Street'})

In [108]:
london_grouped_clustering = london_grouped_clustering.join(venues_sorted.set_index('Street'), on='Street')
london_grouped_clustering

                   Street  ...  10th Most Common Venue
0               Islington  ...             Coffee Shop
1           Tower Hamlets  ...    Gym / Fitness Center
2                 Hackney  ...            Cocktail Bar
3  Kensington and Chelsea  ...              Restaurant
4                 Lambeth  ...              Restaurant
5                  Camden  ...                Beer Bar
6             Westminster  ...     Japanese Restaurant
7  Hammersmith and Fulham  ...             Pizza Place
8               Southwark  ...      Italian Restaurant

[9 rows x 16 columns]

In [111]:
# Create Map

map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i+x+(i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(london_grouped_clustering['Latitude'], london_grouped_clustering['Longitude'], london_grouped_clustering['Street'], london_grouped_clustering['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=1).add_to(map_clusters)
       
map_clusters

In [0]:
cluster1=london_grouped_clustering[london_grouped_clustering['Cluster Labels']==0] 
cluster2=london_grouped_clustering[london_grouped_clustering['Cluster Labels']==1] 
cluster3=london_grouped_clustering[london_grouped_clustering['Cluster Labels']==2] 
cluster4=london_grouped_clustering[london_grouped_clustering['Cluster Labels']==3]

In [113]:
cluster1

                   Street  ...  10th Most Common Venue
0               Islington  ...             Coffee Shop
1           Tower Hamlets  ...    Gym / Fitness Center
2                 Hackney  ...            Cocktail Bar
3  Kensington and Chelsea  ...              Restaurant
6             Westminster  ...     Japanese Restaurant

[5 rows x 16 columns]

In [114]:
cluster2

      Street  Density(per kmÂ²)  ... 9th Most Common Venue  10th Most Common Venue
8  Southwark             10992  ...          Burger Joint      Italian Restaurant

[1 rows x 16 columns]

In [115]:
cluster3

                   Street  ...  10th Most Common Venue
5                  Camden  ...                Beer Bar
7  Hammersmith and Fulham  ...             Pizza Place

[2 rows x 16 columns]

In [116]:
cluster4

    Street  Density(per kmÂ²)  ... 9th Most Common Venue  10th Most Common Venue
4  Lambeth             12157  ...     Korean Restaurant              Restaurant

[1 rows x 16 columns]